*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
} 
.titulo{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;
    margin:auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav li a{
    background-color: #F2E7D5;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
}
.nav li a:hover{
    background-color:rgba(234, 224, 224, 0.287);
}
.nav li {
    float:left;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:auto;
}
.nav li:hover > ul {
    display: block;
}
.nav li ul li {
    position:relative;
}

.titulo{
    background-color: #393E46;
    color: aliceblue;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav{
    background-color: #497174;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content{
    background-color: #6D9886;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.articulo1{
    background-color: #6D9886;
    padding: 30px;
}
.articulo2{
    background-color: #6D9886;
    padding: 30px;
}
.principal{
    background-color: #6D9886;
    padding: 10px;
    grid-column: 2/5;
}
.lateral{
    background-color: #F2E7D5;
    padding: 10px;
    grid-column: 1/2;
}
.pie_pag{
    background-color: #F2E7D5;
    padding: 10px;
}
.autor{
    background-color: #F7F7F7;
    padding: 10px;
    margin: auto;
}