*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    zoom: normal;
} 
.titulo{
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
img { 
    scroll-margin: 320px;
    }
ul, ol {
    list-style:none;
    margin:auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav li a{
    background-color: #F2E7D5;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
}
.nav li a:hover{
    background-color:rgba(234, 224, 224, 0.287);
}
.nav li {
    float:left;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:auto;
}
.nav li:hover > ul {
    display: block;
}
.nav li ul li {
    position:relative;
}
.video { 
    height: "480";
    margin: auto;
    width: 100%;
}
.titulo{
    background-color: #393E46;
    color: aliceblue;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav{
    background-color: #497174;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content{
    background-color: #6D9886;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.articulo1{
    background-color: #6D9886;
    padding: 20px;
}
.articulo2{
    background-color: #6D9886;
    padding: 20px;
}
.principal{
    background-color: #6D9886;
    padding: 20px;
    grid-column: 2/5;
}
.lateral{
    background-color: #F2E7D5;
    padding: 10px;
    grid-column: 1/2;
}
.pie_pag{
    background-color: #F2E7D5;
    padding: 10px;
    flex-direction: column;
}
.autor{
    background-color: #F7F7F7;
    padding: 10px;
    margin: auto;
}
@media screen and (min-width:320px) and (max-width:480px) {
    *{
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        zoom: 95%;
    } 
}
@media screen and (min-width:320px) and (max-width:480px) {
    .img {
        display: block;
        margin: 320px;
    }
}
@media screen and (min-width:320px) and (max-width:480px) {
    .video{
        width: "320"; 
        height: "320";
    }
}
@media screen and (min-width:320px) and (max-width:480px) {
    main.content{
        margin:auto;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .principal{
        background-color: #6D9886;
        padding: 10px;
        grid-column: 1/5;
    }
    .lateral{
        background-color: #F2E7D5;
        padding: 10px;
        grid-column: 1/5;
    }
    .articulo1{
        background-color: #6D9886;
        padding: 0px;
    }
    .articulo2{
        background-color: #6D9886;
        padding: 0px;
    }
}
