*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
} 
.titulo{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;
    margin:auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav li a{
    background-color: rgb(160, 244, 244);
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display:block;
}
.nav li a:hover{
    background-color:rgba(186, 180, 180, 0.277);
}
.nav li {
    float:left;
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:auto;
}
.nav li:hover > ul {
    display: block;
}
.nav li ul li {
    position:relative;
}

.titulo{
    background-color: #EFF5F5;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.nav{
    background-color: #497174;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.content{
    background-color: #EFF5F5;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.articulo1{
    background-color: rgb(140, 188, 231);
    padding: 30px;
}
.articulo2{
    background-color: rgb(167, 227, 204);
    padding: 30px;
}
.principal{
    background-color: #EFF5F5;
    padding: 10px;
    grid-column: 2/5;
}
.lateral{
    background-color: #344D67;
    padding: 10px;
    grid-column: 1/2;
}
.pie_pag{
    background-color: #D6E4E5;
    padding: 10px;
}
.autor{
    background-color: #678983;
    padding: 10px;
    margin: auto;
}